@functions {
	public string CustomerName { get; set; }
	public string ResetLink { get; set; }
}

<h1>Hello, @CustomerName</h1>
@ViewData.Name
<p>We have received a request to reset your password.  Please click <a href="@ResetLink">here</a> to reset your password.</p>