%form{action = ViewData.Url method = 'post' name = 'edit'}
  .postzoom
    %h2.title
      %input{type = 'text' name = 'title' value = ViewData.Post.Title}
    %p.meta
    %input{type = 'text' name = 'tags' value = ViewData.Post.StringifiedTags}
    .entry
    %textarea{name = 'body'}= ViewData.Post.Body
    .edit
    %input{type = 'submit' value = 'Save'}
