<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
    
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/960_24_col.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>  
</head>
<body>
<div class="container_24">
    <div class="grid_2 omega">
		
			&nbsp;
		
	</div>
    <div class="alpha grid_20 main omega">
        <img src="images/n.png" class="n"/>
        <img src="images/nl.png" class="nl"/>
        <img src="images/s.png" class="sr"/>
		<div id="t">
            <a href="#">Download v0.9</a> 
            <span class="bar">|</span> 
            <a href="http://github.com/jondot/nina">github</a>
        </div>
	</div>

    <div class="grid_2 omega alpha">
		&nbsp;
	</div>
    <div class="clear"></div>
    
    
    <div class="grid_2 omega">
		&nbsp;
	</div>

    <div class="grid_20 body alpha omega">
        <div>
        <br/><br/><br/><br/>
        <%= yield %>
        </div>
        <div style="clear:both"></div>
    </div>
    
    <div class="grid_2 omega alpha">
		&nbsp;
	</div>

        
</div>

</body>
</html>